backend/venv/
frontend/node_modules/
yjs-server/node_modules/
UI_DOC.pdf
.cursorrules
backend/.coverage
.antigravitycli/

*.env
.env

**/__pycache__/
*.pyc
celerybeat-schedule*
backend/db.sqlite3
backend/.pytest_cache/
frontend/dist/

exported_data.json
frontend/.env.production
