#IN PRODUCTION
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,backend
FRONTEND_URL=

#IN PRODUCTION AND DEV
SECRET_KEY=your-secret-key-here
GEMINI_API_KEY=
PORT=1234
REDIS_HOST=redis
REDIS_PORT=6379
DJANGO_API_URL=http://backend:8000/api/yjs
DJANGO_ADMIN_URL = 