django
djangorestframework
channels[daphne]
channels_redis
django-cors-headers
psycopg[binary,pool]
djoser
djangorestframework_simplejwt
martor
factory-boy
django-cookiejwt
drf-spectacular
drf-spectacular[swagger]
docker
coverage
google-genai
django-redis
pytest==9.1.1
pytest-django==4.12.0
pytest-dotenv==0.5.2
pytest-asyncio
pytest-cov
django-import-export
celery