django
djangorestframework
channels[daphne]
channels_redis
django-cors-headers
psycopg[binary,pool]
djoser
djangorestframework_simplejwt
martor
factory-boy
django-cookiejwt
drf-spectacular
drf-spectacular[swagger]
docker